body {
  padding-top: 70px;
}
.row {
    background-color: #a379c3;
   
}
.text-muted{
    color:black
}
.category-bar .nav-link {
    color: black;
    text-decoration: none;
    white-space: nowrap;
}

.category-bar .nav-link:hover {
    color: #a379c3;
}
a {
  text-decoration: none;
}